html {
    box-sizing: border-box;
    height: 100%;
    font-family: "Lato";
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-columns: 0.8fr repeat(3, 1fr);
    grid-template-rows:  0.75fr repeat(4, 1fr);
    grid-template-areas: "nav top top top"
                         "nav main main main"
                         "nav main main main"
                         "nav main main main"
                         "nav main main main";
    overflow-x: hidden;
    transition: 0.5s;
}

.body {
    grid-template-columns: 0.1fr repeat(3, 1fr);
    transition: 0.5s;
}

#top {
    display: flex;
    flex-direction: column;
    grid-area: top;
    background-color: whitesmoke;
    min-width: 550px;
    padding: 5px 15px;
    box-shadow: 0px 5px 10px rgb(219, 165, 165);
    z-index: 1;
}
/*You will find every element's selector that live inside #top from this line till you reach #nav*/
.top-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.top-container > .flex-container {
    gap: 5px;
    padding: 5px 20px;
}

.top-container > .flex-container:nth-child(1) {
    flex: 1;
    max-width: 70%;
    min-width: 200px;
}

.top-container > .flex-container:nth-child(2) {
    padding: 0;
    margin-left: auto;
}



.top-icon {
    max-width: 25px;
    border-radius: 10px;
    padding: 2px;
    transition: 0.1s;
    cursor: pointer;
}

.top-icon:hover {
    background-color: aliceblue;
    transform: scale(1.02);
}

.top-icon:active {
    transform: scale(1);
}

.searchbar {
    flex: 1;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 4px 15px;
    outline: none;
}


.profile-img {
    max-width: 40px;
    border-radius: 20px;
}

.big-profile-img {
    max-width: 60px;
    border-radius: 30px;
}

.top-button {
    padding: 10px;
    min-width: 80px;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 197);
    box-shadow: 0 0 5px rgb(24, 25, 85);
    background-color: rgb(174, 174, 233);
    font-weight: 900;
    color:white;
}





#nav {
    background-color: rgb(89, 89, 201);
    grid-area: nav;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px 18px;
    color: white;
    z-index: 2;
}
/*You will find every element's selector that live inside #nav from this line till you reach #main*/

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nav-items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.nav-items-container > .navbar-container-img-text {
    cursor: pointer;
    padding: 4px;
    transition: 0.2;
    border-radius: 5px;

}

.nav-items-container > .navbar-container-img-text:hover {
    background-color: rgb(165, 165, 224);
    transform: scale(1.05);
}

.nav-items-container > .navbar-container-img-text:active {
    transform: scale(1);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashbord-logo {
    max-width: 40px;
}

.navbar-item-logo {
    max-width: 22px;
}

.navbar-text-container {
    display: flex;
    align-items: center;
    flex: 1;
    transition: 1s;
}

.navbar-text-container-off {
    display: none;
}

.arrow-btn-container {
    position: absolute;
    right: 1px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*This is the default class applied to arrow*/
.hide-unhide-arrow-btn {
    cursor: pointer;
    max-width: 27px;
    transition: 0.5s;
}

/*PRIGHT stands for "pointing right*/
.hide-unhide-arrow-btn-pright {
    cursor: pointer;
    max-width: 28px;
    transition: 0.5s;
    transform: rotate(180deg);
}

#main {
    background-color: rgb(235, 207, 207);
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "project project project announcement"
                         "project project project trending";
}

/*You will fine every element's selector that live inside #main below this line*/


.project-container {
    grid-area: project;
}

.announcement-container {
    grid-area: announcement;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending-container {
    grid-area: trending;
}

.main-container {
    padding: 25px 15px;
    border: 1px solid black;
}

.main-header {
    font-weight: 600;
    font-size: large;
}

.card-container {
    display: grid;
    gap: 20px;
    padding: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px gray;
    padding: 10px;
    border-radius: 5px;
    border-left: 6px solid orange;
    background-color: rgb(252, 251, 251);
    cursor: pointer;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 20px gray;

}


.project-card > h6 {
    font-weight: 600;
    font-size: 15px;
}

.project-card > p {
    font-weight: 300;
    color: rgb(56, 54, 54);
}

.card-icons-container {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.card-icon {
    max-width: 20px;
}


.announcement-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: rgb(252, 251, 251);
    box-shadow: 0px 0px 10px gray;
}

.announcement:nth-child(1),
.announcement:nth-child(2) {
    border-bottom: 1px solid rgb(224, 215, 215);
    padding-bottom: 15px;
}

.announcement > h6 {
    font-size: 14px;
}

.announcement > p {
    font-weight: 300;
    font-size: 14px;
}