html {
    box-sizing: border-box;
    min-height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "nav top top top"
                         "nav main main main"
                         "nav main main main"
                         "nav main main main"
                         "nav main main main";
    overflow: hidden;
    transition: 0.5s;
}

.body {
    grid-template-columns: 0.1fr repeat(3, 1fr);
    transition: 0.5s;
}

#top {
    background-color: yellow;
    grid-area: top;
}
/*You will find every element's selector that live inside #top from this line till you reach #nav*/


#nav {
    background-color: blue;
    grid-area: nav;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
}
/*You will find every element's selector that live inside #nav from this line till you reach #main*/

.container-img-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 4px solid green;
}

.img-container {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashbord-logo {
    border: 1px solid black;
    max-width: 35px;
}

.navbar-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    flex: 1;
    transition: 1s;
}

.navbar-text-container-off {
    display: none;
    transition: 0.2s;
}

.arrow-btn-container {
    position: absolute;
    right: 3px;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*This is the default class applied to arrow*/
.hide-unhide-arrow-btn {
    cursor: pointer;
    max-width: 27px;
    transition: 0.5s;
}

/*PRIGHT stands for "pointing right*/
.hide-unhide-arrow-btn-pright {
    cursor: pointer;
    max-width: 28px;
    transition: 0.5s;
    transform: rotate(180deg);
}

#main {
    background-color: white;
    grid-area: main;
}
/*You will fine every element's selector that live inside #main below this line/
